html, body {
    margin: 0;
    padding: 0;
    background: #121229;
}

body {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding-top: 45px;
}

canvas {
    box-shadow: 0 0 85px rgb(47, 47, 107);
    border: 3px dotted #FFF;
    box-sizing: border-box;
}